/*-- -------------------------- -->
<---       Portfolio            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-221 {
    padding: var(--sectionPadding);
    background: #F1F1F4;
  }
  #meet-team-221 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-221 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-221 .cs-picture {
    /* 160px - 220px */
    width: clamp(10rem, 20vw, 13.75rem);
    height: clamp(10rem, 20vw, 13.75rem);
    margin-bottom: 1rem;
    border-radius: 25%;
    display: block;
    position: relative;
    /* clips the corners off the image tag */
    overflow: hidden;
  }
  #meet-team-221 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image behave like a background image */
    object-fit: cover;
    transition: transform .7s;
  }
  #meet-team-221 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #meet-team-221 .cs-item {
    list-style: none;
    /* Changes on tablet */
    width: 100%;
    max-width: 21.25rem;
    /* 16px - 20px */
    padding: clamp(1rem, 2vw, 1.25rem);
    padding-bottom: 1.25rem;
    background: var(--bodyTextColorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #meet-team-221 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-221 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #meet-team-221 .cs-job-title {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: var(--primary);
    display: block;
  }
  #meet-team-221 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    margin-bottom: 0.75rem;
    color: #7D799C;
  }
  #meet-team-221 .cs-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  #meet-team-221 .cs-link {
    /* 28px - 32px */
    width: clamp(1.75rem, 3vw, 2rem);
    /* 28px - 32px */
    height: clamp(1.75rem, 3vw, 2rem);
    /* After making the a tag into a box, we center the image inside of it */
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* creates the 3D space for the 3D effect when spinning */
    transform-style: preserve-3d;
    perspective: 700px;
  }
  #meet-team-221 .cs-link:hover .cs-icon {
    transform: translateY(-0.3125rem) rotateY(360deg);
  }
  #meet-team-221 .cs-icon {
    width: 0.875rem;
    height: auto;
    transition: transform .7s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-221 .cs-container {
    max-width: 80em;
  }
  #meet-team-221 .cs-card-group {
    flex-direction: row;
  }
  #meet-team-221 .cs-item {
    width: 31%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-221 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #meet-team-221 .cs-title,
  body.dark-mode #meet-team-221 .cs-text,
  body.dark-mode #meet-team-221 .cs-name,
  body.dark-mode #meet-team-221 .cs-item-text,
  body.dark-mode #meet-team-221 .cs-job-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-team-221 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #meet-team-221 .cs-item-text {
    opacity: .8;
  }
  body.dark-mode #meet-team-221 .cs-icon {
    /* turns icons white */
    filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-topper {
    color: var(--secondary);
  }
  #cta-51 .cs-title,
  #cta-51 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
    opacity: .8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
